<% form_for(:deployment, :url => project_stage_deployments_path(@project, @stage)) do |f| %>
<div style="width:330px;">
  <p>
    <%= hidden_field_tag "warned", true %>
    Are you sure you want to change:
    <ul>
      <% @changed_values.each do |key, values| %>
        <li><b><%= key %></b> from <b><%= values.first %></b> to <b><%= values.last %></b> </li>
      <% end %>
  </p>
  <%= link_to 'Back to stage', project_stage_path(@project, @stage), :class => 'arrow_link ontheright' %>

  <p>
    <script>
      document.observe('dom:loaded', function(){
        Event.observe("goBack", "click", function(e){e.preventDefault();window.history.back()});
      });
    </script>
    <%= submit_tag "Yes" %>
    <input type='submit' value='No' id="goBack">

  </p>
</div>
<% end %>

<% content_for(:action_box) do %>
<div class="small_box">
  <div class="small_box_top"></div>
  <div class="small_box_middle" style="min-height: 140px; *height: 160px;">
     <h3>Deploying hosts</h3>
      <% if @stage.roles.count > 0 %>
        <form name="excluded_hosts_form" id="excluded_hosts_form">
          <table border="0" width="210">
            <% for host in @stage.hosts.sort_by{|x| x.name} %>
              <tr class="toggle_host <%= if_disabled_host?(host,'disabled_host') %> <%= if_enabled_host?(host,'enabled_host') %>" id="host_<%=h host.id %>">
                <td width="1%" style="padding:3px 0px 0px 0px;" valign="middle" align="center">
                  <%= image_tag('peritor_theme/checkbox_on.gif',
                                :id => "host_#{host.id}_on",
                                :style => if_disabled_host?(host,'display:none;') + 'cursor:pointer;')%>
                  <%= image_tag('peritor_theme/checkbox_off.gif',
                                :id => "host_#{host.id}_off",
                                :style => if_enabled_host?(host,'display:none;') + 'cursor:pointer;')%>
                </td>
                <td width="99%" title="<%=h h(host.name) %>" class="toggle_host" id="toggle_host_<%=h host.id %>">
                  <div style="overflow: hidden; padding-left: 5px; width: 180px; white-space: nowrap; cursor: pointer;"><%=h host.name %></div>
                </td>
              </tr>
            <% end %>
          </table>
        </form>
       <% else %>
       No hosts for this stage!<br /><br />
      <% end %>
  </div>
  <div class="small_box_bottom"></div>
</div>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Projects", projects_path %> &gt;
    Project <%= link_to current_project.name, project_path(current_project) %> &gt;
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %> &gt;
    Deployment
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Deploy stage #{h(current_stage.name)} of project #{h(current_project.name)}" %>
  <h2>Deployment</h2>
<% end %>
